@page "/"

<nav class="py-3 navbar navbar-expand-lg fixed-top auto-hiding-navbar navbar-light bg-light">
	<div class="container">
		<a class="navbar-brand" href="#">Рецепты на любой вкус</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav ms-auto">
				<li class="nav-item">
					<a class="nav-link active" aria-current="page" href="#">Главная</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/User">Пользователи</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Контакты</a>
				</li>
			</ul>
		</div>
	</div>
</nav>
<section id="hero">
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Добро<br>пожаловать</h1>
                <p>Мы рады приветствовать вас в мире кулинарии, где вы можете делиться своими любимыми рецептами и находить вдохновение для новых блюд. Наша платформа создана для всех, кто любит готовить и хочет обмениваться идеями с единомышленниками.</p>
                <p>Что мы предлагаем?</p>
            </div>
            <div class="col">
                <img src="https://github.com/pdtplfcvthnb/RecipeWEBrender22/blob/main/700-nw.jpg?raw=true">
            </div>
        </div>
        <div class="block"></div>
        <div class="row cards">
            <div class="col-md-4 d-flex justify-content-center">
                <div class="card">
                    <div class="card-body">
                        <!-- here is where they add the ICON -->
                        <h5 class="card-title">ШИРОКИЙ ВЫБОР</h5>
                        <p class="card-text">От простых до сложных, от завтраков до ужинов, от быстрых до долгих - Вы найдете именно то, что Вам нужно.  </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 d-flex justify-content-center">
                <div class="card">
                    <div class="card-body">
                        <!-- here is where they add the ICON -->
                        <h5 class="card-title">ОПЫТ СООБЩЕСТВА</h5>
                        <p class="card-text">Делитесь своими рецептурами и обсуждайте их с другими, оставляйте комментарии - Вы находитесь в сообществе людей, увлеченных одним делом.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 d-flex justify-content-center">
                <div class="card">
                    <div class="card-body">
                        <!-- here is where they add the ICON -->
						<h5 class="card-title">ПОЛЕЗНЫЕ СОВЕТЫ</h5>
                        <p class="card-text"> Читайте статьи и делитесь секретами кулинарного мастерства. В каждой семье хранятся рецепты, все они разные, у всех свои хитрости и лайфхаки. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="about-us">
    <div class="container">
        <div class="row align-items-center">
            <div class="col">
                <!-- another image can be inserted here -->
                <img src="https://i.pinimg.com/736x/6b/e5/66/6be5661411ef93f59dfea6c7436acc85.jpg" class="img-fluid" />
            </div>
            <div class="col">
                <h1>Кратко о проекте</h1>
                <p>
                    Регистрация на платформе абсолютно бесплатна. Создайте свой профиль, начните добавлять рецепты и делитесь своими кулинарными приключениями! Ваша кухня станет еще более разнообразной и увлекательной. Мы надеемся, что вы найдете здесь массу идей и вдохновения!
                </p>
                <button type="button" class="btn btn-dark btn-lg">Войти</button>
            </div>
        </div>
    </div>
</section>

<section id="contact">
    <div class="container">
        <div class="row align-items-center projects">
            <div class="col">
                <h1>Связь с нами</h1>
                <p>По всем вопросам, предложениям, жалобам писать на почту - отвечаем и реагируем быстро и оперативно </p>
                <p>Почта: recipeforyou@gmail.com</p>
            </div>
        </div>
    </div>
</section>

@code{

	public class User
	{
		public int UserId { get; set; }

		public string Username { get; set; } = null!;

		public string Email { get; set; } = null!;

		public string Password { get; set; } = null!;

		public string? FirstName { get; set; }

		public string? LastName { get; set; }

		public DateTime? RegistrationDate { get; set; }
	}

	public User[] result = new User[] { };
	string CurrentDate;
	string CurrentTime;



	protected override async Task OnInitializedAsync()
	{
		var date = DateTime.Now;
		CurrentDate = date.ToShortDateString();
		CurrentTime = date.ToShortTimeString();

		var client = new HttpClient();
		client.BaseAddress = new Uri("https://recipewebrender33.onrender.com/");
		result = await client.GetFromJsonAsync<User[]>("api/User");
		return;
	}
}
